<ion-split-pane when="lg" contentId="side-bar">
  <ion-menu contentId="side-bar" side="start" type="overlay">
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
          <ion-item lines="none" [routerLink]="page.Url" routerDirection="root"
            [class.active-item]="selectedPath === page.Url">
            <ion-icon name="{{page.Icon}}" class="ion-padding"></ion-icon>
            <ion-label> {{page.Title}} </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="side-bar"></ion-router-outlet>
</ion-split-pane>
