// .active-item {
//     padding: 10px;
// }

.split-pane-visible>.split-pane-side {
    min-width: 250px;
    max-width: 250px;
}

ion-menu {
    --ion-background-color: linear-gradient(180deg, var(--ion-color-primary) 0%, var(--ion-color-secondary) 100%);
    --ion-text-color: var(--ion-color-primary-contrast);

    ion-toolbar {
        --background: transparent;
    }

    ion-list {
        background: transparent;
    }

    ion-item {
        color: white;
        --background: transparent;
    }

    ion-content {
        --background: transparent;
    }
}

ion-icon {
    color: var(--ion-color-light);
}

// ion-menu-button {
//     --color: var(--ion-color-light);
// }