ion-card {
    max-height: 500px;
    overflow-y: scroll;
}

ion-item:hover {
    // --ion-background-color: lightgray;
    cursor: pointer;
}

ion-item:hover {
    --ion-background-color: lightgray;
    background-color:  lightgray;
}

#list {
    max-height: 500px;
    overflow-y: scroll;
}