<app-menu-button title="Foods"></app-menu-button>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-searchbar showCancelButton="never" (ionChange)="filterFoods($event)"></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="filteredFoods.length > 0" style="height: 100%;">
    <ion-col size-xl="6">
      <!-- might wanna remove card  -->
      <!-- integrate ion-infinite-scroll -->
      <ion-card >
        <ion-card-content *ngFor="let food of filteredFoods" >
          <ion-list  >
            <ion-item (click)="broadcastSelectedFood(food)">
              <ion-label>
                <h2><b>{{food.Name}}</b></h2>
                <p><b>{{food.ServingSize}}</b> grams</p>
                <p><b>{{food.Calorie}}</b> Calories</p>
                <p><b>{{food.Protein}}</b>g Protein</p>
                <p><b>{{food.Carbohydrate}}</b>g Carbs</p>
                <p><b>{{food.Fat}}</b>g Fat</p>
              </ion-label>
              <ion-button (click)="openAddMealTypeModal(food)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col class="ion-hide-md-down" size-xl="6" [hidden]="currentFood.Name === undefined">
      <app-calorie-breakdown></app-calorie-breakdown>
    </ion-col>
  </ion-row>
</ion-content>