<app-menu-button title="Diary"></app-menu-button>

<ion-content>
  <ion-row>
    <!-- add background color to each -->
    <ion-col size-xl="2" size-xs="12" offset-xl="1">
      <ion-card>
        <ion-card-content>
          <p class="ion-text-center">Total</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2">
      <ion-card>
        <ion-card-content>
          <p>Calories</p>
          <p></p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2">
      <ion-card>
        <ion-card-content>
          <p>Protein</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2">
      <ion-card>
        <ion-card-content>
          <p>Carb</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size-xl="2">
      <ion-card>
        <ion-card-content>
          <p>Fat</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <!-- might need to ditch tab solution and keep everything in  page giving a header to card only which defines which meal it is -->

  <ion-row>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="breakfast">
          <ion-label>Breakfast</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="lunch">
          <ion-label>Lunch</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="dinner">
          <ion-label>Dinner</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="snack">
          <ion-label>Snack</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-row>

</ion-content>