<app-menu-button title="Diary"></app-menu-button>

<ion-row>
  <!-- add background color to each -->
  <ion-col size-xl="1" size-sm="2" size-xs="12" offset-xl="1">
    <ion-card>
      <ion-card-content>
        <p class="ion-text-center">Total</p>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size-xl="2">
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-text>{{this.totalCalories}} Calories</ion-text>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size-xl="2">
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-text>{{this.totalProtein}}g Protein</ion-text>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size-xl="2">
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-text>{{this.totalCarb}}g Carbs</ion-text>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size-xl="2">
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-text>{{this.totalFat}}g Fat</ion-text>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

<ion-content>

  <!-- might need to ditch tab solution and keep everything in  page giving a header to card only which defines which meal it is -->
  <ion-row>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="breakfast">
          <!-- add the number of meals added as small icon on the right side of label -->
          <ion-icon name="egg-outline"></ion-icon>
          <ion-note>{{numberOfBreakfastMeals}}</ion-note>
          <ion-label>Breakfast</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="lunch">
          <ion-icon name="pizza-outline"></ion-icon>
          <ion-note>{{numberOfLunchMeals}}</ion-note>
          <ion-label>Lunch</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="dinner">
          <ion-icon name="beer-outline"></ion-icon>
          <ion-note>{{numberOfDinnerMeals}}</ion-note>
          <ion-label>Dinner</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="snack">
          <ion-icon name="ice-cream-outline"></ion-icon>
          <ion-note>{{numberOfSnackMeals}}</ion-note>
          <ion-label>Snack</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-row>
</ion-content>