#meal-cards:hover {
    background-color: lightgray;
    cursor: pointer;
}

ion-note {
    font-size: 9px;
    border: solid 1px;
    border-radius: 50%;
    padding: 1px;
    float: right;
    position: absolute;
    margin-top: 2%;
    margin-left: 15%;
}

@media only screen and (max-width: 801px) {
    ion-note {
        margin-left: 20%;
    }
}