<app-menu-button title="Diary"></app-menu-button>

<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="breakfast">
            <ion-label>Breakfast</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="lunch">
            <ion-label>Lunch</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="dinner">
            <ion-label>Dinner</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="snack">
            <ion-label>Snack</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
</ion-content>