<ion-content>
  <ion-row>
    <ion-col size-xs="6" size-md="4" *ngFor="let food of foods">
      <ion-card id="meal-cards">
        <ion-card-header>
          <!-- using popover when clicked on a edit which pops either edit quantity or delete  -->
          <ion-button fill="clear" size="small" class="ion-float-right" style="margin: -5px;" (click)="toggleShowContent()">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="clear" color="danger" class="ion-float-right ion-hide-sm-down" (click)="removeFood(food.Name)"
            style="margin: -5px;">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-button size="small" fill="clear" class="ion-float-right" style="margin: -5px;">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <b>{{food.Name}}</b>
        </ion-card-header>
        <ion-card-content *ngIf="showContent"> 
          <ion-label>
            <p><b>Amount per {{food.ServingSize}}</b> grams</p>
            <p><b>{{food.Calorie}}</b> Calories</p>
            <p><b>{{food.Protein}}</b>g Protein</p>
            <p><b>{{food.Carbohydrate}}</b>g Carbs</p>
            <p><b>{{food.Fat}}</b>g Fat</p>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>